doctype html
html
	head
		title= myTitle
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		h1 Best Calendar! Buy Buy Buy!
		p Sickest calendar around.

		button#btn click me!







		script(src='/lib/jquery/dist/jquery.min.js')
		script(src='/javascripts/simplejs.js')
