doctype html
html
	head
		title= myTitle
		link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/lib/font-awesome/css/font-awesome.css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		h1 devCal
		p The best calendar you never want to use.

		button#btn #[i.fa.fa-bullseye] click me!






		script(src='/lib/jquery/dist/jquery.min.js')
		script(src='/javascripts/simplejs.js')
